<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../public/css/aside.css">
    <link rel="stylesheet" href="../../public/css/folders.css">
</head>
<body>
    <%- include("aside") %>
    <main>
        <% if(currentUser){ %>
            <h1>Hola <%= currentUser.name %></h1>
            
            <div class="folders-container">     
                <% folders.forEach(folder => { %>
                        <div class="folder">
                            <form action="/folder/<%= folder.id %>/delete" method="post">
                                <button type="submit">Delete</button>
                            </form>
                            <a href="/folder/<%= folder.id %>">
                                <p><%= folder.name %></p>
                            </a>
                        </div>
                <% }) %>
            </div>
            <div class="files-container">
                <% rootFiles.forEach(file => { %>
                    <a href="file/<%= file.id %>" class="file">
                        <p>
                            <%= file.name %>
                        </p>
                    </a>
                <% }) %>
            </div>
        <% } else { %>
            <h1>Hola invitado</h1>
        <% } %>
    </main>
</body>
</html>